# Copyright (c) 2025 Ventec SW LLC.
# All rights reserved.
# 
# This software is the intellectual property of Ventec SW LLC. Permission is
# hereby denied for any use, copying, modification, distribution, or
# transmission of this software and its design paradigm, in whole or in
# part, without the prior written permission of Ventec SW LLC.
#
# No part of this source code may be copied, reproduced, distributed,
# or transmitted in any form or by any means, electronic or mechanical,
# without the prior written permission of the copyright holder, nor 
# shall it be used for any purpose other than in connection with an 
# agreement or proposed agreement with Ventec SW LLC.

# /etc/systemd/system/vetborrower.service

[Unit]
Description=VET Borrower Application
After=network.target

[Service]
Type=simple
User=vetborrower
Group=vetborrower

# IMPORTANT: run from the project server directory
WorkingDirectory=/home/vetborrower/VetBorrower/server

ExecStartPre=+/usr/bin/install -d -o vetborrower -g vetborrower -m 0755 /var/log/vetborrower
ExecStartPre=+/usr/bin/install -d -o vetborrower -g vetborrower -m 0755 /var/log/vetborrower/archive
ExecStartPre=/usr/local/bin/vetborrower-rotate-logs.sh

# Run the JS file that lives WITH its node_modules context
# To figure out the node version use something like:
#    ls /home/vetborrower/.nvm/versions/node
ExecStart=/bin/bash -lc 'exec /usr/local/bin/getNodeVersion.sh ./vetborrower-server.js >> /var/log/vetborrower/vetborrower-server_stdout.log 2>> /var/log/vetborrower/vetborrower-server_stderr.log'

Restart=on-failure
RestartSec=10
KillSignal=SIGTERM
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target